<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KarmaWay.Properties.Settings.KarmaWayInformationConnectionString"
            connectionString="Data Source=TOSHIBA\KARMAWAYINFO;Initial Catalog=KarmaWayInformation;User ID=oguz;Password=123456123fb."
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>